<!-- src/app/components/typography/typography.component.html -->
<table class="table table-striped" style="text-align: center;">
  <thead>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalForm" (click)="openAddModal()">Ajouter
      Produit</button>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th scope="col">Image</th>
      <th scope="col">Category</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.description }}</td>
      <td><img [src]="product.image" alt="{{ product.name }}" width="50"></td>
      <td>{{ product.category }}</td>
      <td>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalForm"
          (click)="openUpdateModal(product)">Modifier</button>&nbsp;
        <button class="btn btn-danger" (click)="deleteProduct(product._id)">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Form modal -->
<div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Formulaire Produit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
      </div>
      <div class="modal-body">
        <form [formGroup]="productForm" (ngSubmit)="submitForm()">
          <div class="mb-3">
            <label for="name" class="form-label">Nom</label>
            <input type="text" class="form-control" id="name" formControlName="name">
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Prix</label>
            <input type="number" class="form-control" id="price" formControlName="price">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" formControlName="description">
          </div>
          <div class="mb-3">
            <label for="category" class="form-label">Catégorie</label>
            <select class="form-control" id="category" formControlName="category">
              <option value="smartphone">Smartphone</option>
              <option value="laptop">Laptop</option>
              <option value="hardware">Hardware</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="file" class="form-control" id="image" (change)="onFileChange($event)">
            <img *ngIf="imagePreview" [src]="imagePreview" alt="Image Preview" width="100" style="margin-top: 10px;">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>