<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Reset Password</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="password">New Password</label>
                        <input type="password" formControlName="password" class="form-control" id="password"
                            placeholder="Enter new password">
                        <div *ngIf="resetPasswordForm.get('password').invalid && (resetPasswordForm.get('password').dirty || resetPasswordForm.get('password').touched)"
                            class="text-danger">
                            Password is required and must be at least 6 characters long
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.invalid">Reset
                        Password</button>
                </form>
            </div>
        </div>
    </div>
</div>